 <h3>予約一覧</h3>
 
 <% if flash[:notice] %>
   <p class="notice"><%= flash[:notice] %></p>
 <% end %>
 
<%= form_with url: search_rooms_path, local: true, method: :get, class: "search-form" do |f| %>
  <%= f.text_field :keyword, placeholder: "住所で検索する", class: "search-input" %>
  <%= f.submit "検索", class: "search-btn" %>
<% end %>
 
 <table>
   <thead>
     <tr>
       <th>id</th>
       <th>施設画像</th>
       <th>施設名</th>
       <th>紹介文</th>
       <th>合計料金</th>
       <th>チェックイン日</th>
       <th>チェックアウト日</th>
       <th>登録日</th>
     </tr>
   </thead>
 
   <tbody>
     <% @reservations.each do |reservation| %>
       <tr>
         <td><%= reservation.id %></td>
         <td><%= image_tag reservation.image %></td>
         <td><%= reservation.room_name %></td>
         <td><%= reservation.introduction %></td>
         <td><%= reservation.price %></td>
         <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
         <td>
         <%= link_to "参照", reservation %>
         </td>
         <td>
          <%= link_to "削除", reservation, method: :delete, data: { confirm: "本当に削除しますか？" } %>
         </td>
       </tr>
     <% end %>
   </tbody>
 </table>
 
 <p><%= link_to "戻る", :back %></p>